<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="cabecera">
<meta charset="UTF-8">
<title>Juego dados</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

	
	<!-- CONTENIDO -->
	<div class="container"></div>

	<!-- PIE DE PAGINA -->
	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">

		<div class="container">
			<p>Copyright Javacode503 &copy; -2022</p>
		</div>
		<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

	</footer>

</body>
</html>